.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  text-align: center;
  padding: 40px 20px;
  background-color: var(--card-bg-end);
  color: var(--text-color);
  box-shadow: inset 0 0 15px var(--shadow-color); /* Subtle inner shadow */
}

.about-page h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  color: var(--heading-color);
  margin-bottom: 25px;
  text-shadow: 0 0 15px var(--heading-shadow-color); /* Enhanced glow */
}

.about-page p {
  font-size: 1.2em;
  margin-bottom: 15px;
  color: var(--subheading-color);
  max-width: 700px;
  line-height: 1.6;
}

/* Mobile adjustments for AboutPage */
@media (max-width: 768px) {
  .about-page h1 {
    font-size: 2em;
  }

  .about-page p {
    font-size: 1em;
  }
}
